

.ace_editor .ace-mml {
    color: rgb(216, 216, 238);
    background-color: rgb(29, 29, 29);
}

.ace-mml {
    color: rgb(216, 216, 238);
    background-color: rgb(29, 29, 29);
}

.ace-mml .ace_selection {
    background: rgba(255, 255, 255, 0.1); /* 半透明の青色 */
}
/* アクティブな行の選択範囲 */
.ace-mml .ace_selected-word {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* 検索結果のハイライト */
.ace-mml .ace_marker-layer .ace_selected-word {
    background: rgba(255, 254, 208, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* カーソル */
.ace-mml .ace_cursor {
    color: rgba(255, 255, 255, 255);
}

.ace-mml .ace_comment {
    color: rgb(160, 160, 172);
}
.ace-mml .ace_variable {
    color: rgb(115, 153, 131);
}
.ace-mml .ace_inst {
    color: rgb(235, 145, 194);
}
.ace-mml .ace_command {
    color: rgb(180, 114, 88);
}
.ace-mml .ace_note {
    color: rgb(124, 169, 211);
}
.ace-mml .ace_rest {
    color: rgb(98, 109, 255);
}
.ace-mml .ace_number {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_piriod {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_tie {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_octave {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_slur {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_code {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_repeat {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_track {
    color: rgb(216, 216, 238);
}
.ace-mml .ace_string {
    color: rgb(216, 216, 238);
}
.ace-mml .call_variable {
    color: rgb(83, 142, 160);
}