p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
}

.container {
    background-color: rgb(26, 26, 26);
    }
    
    .top {
    background-color: rgb(26, 26, 26);
    }
    .content {
    background-color: rgb(26, 26, 26);
    }
    .center {
    background-color: rgb(26, 26, 26);
    }
    .bottom .bottom-left {
    background-color: rgb(26, 26, 26);
    }
    .bottom .bottom-right {
    background-color: rgb(26, 26, 26);
    overflow-y: auto; /* 内容が多い場合にスクロール */
    }

.editor-back {
    background-color: rgb(26, 26, 26);
}

.tool-bar {
    user-select: none;
    background-color: rgba(50, 50, 50, 1);
    padding: 2px 2px;
}

.button {
    border: 0;
    display: inline-block;
    padding: 6px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: rgba(50, 50, 50, 1);
    transition: background-color 0.01s linear;
}

.button-label {
    display: inline-block;
    text-align: top;
    font-size: 14px;
    vertical-align:20%;
    color: #fff;
}
.button-blue {
    background-color: rgb(21, 98, 150);
}
.button-red {
    background-color: rgb(150, 21, 21);
}
.button-play {
    background-color: rgb(84, 82, 117);
}
.button-stop {
    background-color: rgb(124, 74, 74);
}
.button-rewind {
    background-color: rgb(192, 108, 74);
}
.button-repeat-enable {
    background-color: rgba(50, 50, 50, 1);
}
.button-repeat-disable {
    background-color: rgba(50, 50, 50, 1);
    opacity: 0.5;
}

.button img {
    width: auto;
    height: 16px;
    margin-top: 2px;
    margin-right: 8px;
}
  
.button:hover {
    background-color: rgba(80, 80, 80, 1);
}
.button-blue:hover {
    background-color: rgb(27, 131, 201);
}
.button-red:hover {
    background-color: rgb(214, 31, 31);
}
.button-play:hover {
    background-color: rgb(27, 131, 201);
}
.button-stop:hover {
    background-color: rgb(214, 31, 31);
}
.button-rewind:hover {
    background-color: rgb(252, 140, 95);
}
.button-repeat-enable:hover {
    background-color: rgba(80, 80, 80, 1);
}
.button-repeat-disable:hover {
    background-color: rgba(80, 80, 80, 1);
}

.button:active {
    background-color: rgb(68, 115, 243);
}
.button-blue:active {
    background-color: rgb(27, 21, 107);
}
.button-red:active {
    background-color: rgb(104, 15, 15);
}
.button-play:active {
    background-color: rgb(27, 21, 107);
}
.button-stop:active {
    background-color: rgb(104, 15, 15);
}
.button-rewind:active {
    background-color: rgb(192, 74, 53);
}
.button-repeat-enable:active {
    background-color: rgb(68, 115, 243);
}
.button-repeat-disable:active {
    background-color: rgb(68, 115, 243);
}

.checkbox-root {
    display: inline-block;
    color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 32px;
    padding: 0 4px;
    background-color: rgba(50, 50, 50, 1);
}

input[type="checkbox"] {
    position: relative;
    width: 24px;
    top: 1px;
    height: 24px;
    background-color: rgb(109, 99, 99);
    border: 1px solid rgb(109, 99, 99);
    vertical-align: -5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 2px;
    left: 7px;
    transform: rotate(50deg);
    width: 6px;
    height: 12px;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    content: '';
}

#popupContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(36, 31, 53, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
}

#popupContainer.show {
    opacity: 1;
    transition: all 0.2s;
}

#popupContainer.hide {
    opacity: 0;
    transition: all 0.2s;
}

#popupContainer.error {
    background-color: rgba(143, 23, 23, 0.8);
}

.fukidashi {
    display: none;
    width: 200px;
    position: absolute;
    top: 0;
    left: 250px;
    padding: 16px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight: bold;
  }
.fukidashi:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
  }
  .button:hover + .fukidashi {
    display: block;
  }

 .dialog-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
}
.dialog-overlay .show {
    opacity: 1;
    transition: all 0.2s;
}
.dialog-overlay .hide {
    opacity: 0;
    transition: all 0.01s;
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1020;
}

.top-toolbar {
    user-select: none;
    background-color: #333;
    border: 1px solid #5e5e5e;
    color: #fff;
    display: flex;
    padding: 2px;
    font-size: 12px;
    position: relative;
}

.top-toolbar-item {
    user-select: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.top-toolbar-item:hover {
    background-color: #555;
}

.dropdown-menu {
    user-select: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #5e5e5e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-menu.active {
    display: inline-block;
}

.menu-item {
    padding: 2px 12px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-item-line {
    padding: 0.5px 0px;
    background-color: #5e5e5e;
    color: #fff;
}
.menu-item-label {
    font-size: 12px;
    padding: 0px 0px;
    height: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-item-icon {
    width: 12px;
    height: 12px;
    margin-right: 12px;
}

.menu-item:hover {
    background-color: #1c76ca;
}

.hidden {
    display: none;
}